*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #020260;
    color: white;
    font-family: "Tahoma", sans-serif;
}

main {
    text-align: center;
}

ul{
    list-style-type: none;
}

h1 {
    padding: 1.5rem;
    margin-bottom: 1rem;
}

li {
    margin-bottom: .8rem;
    font-size: 1.2rem;
    font-family: monospace;
}

p {
    font-size: 1.5rem;
    padding: 2rem;
}

.fa-spinner {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 2rem;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}
